@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@700&display=swap');
.todoTemplate {
    width: 800px;
    height: auto;
    text-align: center;
    position: relative;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    background-color:MediumPurple;
    font-size : 50px;
    border:5px solid white;
}

.todoHeader {
    margin: 40px 0px 0px 0px;
    color:white;
    border-radius: 20px;
    height: 70px;
    font-size:60px;
    font-family: 'Black Han Sans', sans-serif;
}

.todoList {
    flex: 1;
    margin-bottom:30px;
    padding: 20px 32px 0px 0px;
    border-radius:20px;
}
.todoItem {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right :20px;
    background-color:white;
    border-radius:15px;
    border:5px solid;
    margin:10px; 
    font-family: 'Nanum Gothic', sans-serif;
  }
.inputtext {
  flex: 1;
    font-size: 25px;
    color: black;
    margin-right: 50px;
    font-family: 'Nanum Gothic', sans-serif;
}
.todotext {
    flex: 1;
    font-size: 25px;
    color: black;
    margin-right: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
  }
.todochecktext {
  flex: 1;
  font-size: 25px;
  color: gray;
  margin-right: 50px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  text-decoration:line-through
}
.delbtn {
  margin-left:30px;
}
.savebtn {
  margin-left:30px;
}
.modbtn {
  margin-left:50px;
}
.inputlist {
  display: flex;
  align-items: center;
  background-color:white;
  border-radius:15px;
  border:5px solid;
  margin:0px 110px 0px 110px; 
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: center;
}
input {
  text-align: center;
  width: 300px;
  height: 32px;
  font-size: 25px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
}
.checkedblankbtn {
margin-right: 30px;
float:left;
}
.checkedbtn {
  margin-right: 30px;
  float:left;
  color:green;
}